<!DOCTYPE html>
<html lang="en" xmlns:lang="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit users</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="usnm">Enter UserName: </label>
    <input type="text" th:field="*{name}" id="usnm"/>
    <br/>
    <br/>
    <label for="pass">Enter new password: </label>
    <input type="text" th:field="*{password}" id="pass"/>
    <br/>
    <br/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <input type="submit" value="Update"/>
</form>

<br/>
<br/>
<hr/>
<a href="/logout">Logout</a>

</body>
</html>